section.cards
  background #fff
  z-index 4
  &.right
    transform translate(90%, 0)
  header
    button
      border 1px solid #000

  .rn-carousel-container
    bottom 0
    left 0
    position absolute
    right 0
    top 37px

  .rn-carousel-slides
    height 100%