extend layout

block content
  article
    section.game(ng-controller='GameCtrl', ng-class='{"hidden":joined}')
      input(name='name', ng-model='name')
      button.green(ng-click='join()') Join

    section.players(ng-controller='PlayersCtrl')
      header
        h1 Round {{round}}
      .labels
        label.status: i.fa.fa-check
        label.player Player
        label.score Score
      ul
        li(ng-repeat='player in players', ng-click='select(player)')
          .card.icon(ng-class='{"black czar":player.status=="czar",white:player.status > 0,"x{{player.status}}":player.status > 0}')
          span.name {{player.name}}
          span.score {{player.score}}

    
    section.cards(ng-controller='CardsCtrl', ng-class='{"right":right}')
      header
        i.fa.fa-bars(ng-click='right = !right')
      ul.frames(rn-carousel, rn-carousel-watch)
        li.frame(ng-repeat='card in cardsWhite')
          .card.white.full(ng-click='select($index)', ng-class='card.effect')
            p {{card.text}}
      .card.black.preview(ng-class='cardBlack.effect')
        p {{cardBlack.text}}

    //-.dialog
      .wrap