extend layout

block settings
  header
    h1 Round {{round}}
  ul
    li(ng-repeat='player in players') {{name}}

block cards
  header
    button(type='button', ng-click='right = !right') slide
  ul.frames(rn-carousel)
    li.frame(ng-repeat='card in cardsWhite')
      .card
        p {{card.text}}
