!!!5
html(ng-app='cah')
  head
    title #{title}
    meta(name="viewport", content="user-scalable=no,width=device-width")
    script(src='/scripts/data.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='/scripts/lib/angular-mobile.js')
    script(src='/scripts/lib/angular-carousel.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/stylesheets/lib/angular-carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    article
        section.settings(ng-controller='GameCtrl')
            block settings
        
        section.cards(ng-controller='PlayerCtrl', ng-class='{"right":right}')
            block cards
