/*
 * Import nib
 */
@import 'nib'


/*
 * Grab a custom font from Google
 */
//@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

html, body
  height 100%
  width 100%

body
  background #f4f4f4
  font Arial, Helvetica, sans-serif
  overflow hidden

article
  height 100%
  position relative
  width 100%
  section
    absolute top left
    height 100%
    transition transform .1s linear
    overflow hidden
    width 100%
    
    header
      background #333
      color: #fff
      font-family "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
      padding 10px

@import 'partials'
@import 'sections/game'
@import 'sections/players'
@import 'sections/cards'